h1, h2 {
  margin-left: 60px;
  font-family: 'Open Sans', sans-serif;
  color: #36C3E0;
}

.list .item {
  display: inline-block;
  margin: 18px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center
}

.item .kitty {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  padding-bottom: 6px;
  background: url(http://placekitten.com/g/175/175) no-repeat center
}

.item a {
  font-size: 14px;
  text-decoration: none;
  color: #666666
}

.item p {
  margin-top: 5px;
  color: #2f4f4f
}

.inputs {
  width: 250px;
  font-family: Trebuchet, sans-serif;
  font-size: 13px;
  margin-left: 60px;
}

.inputs .inputs-top {
  width: 243px;
  float: left;
  margin: 0;
}

.inputs .input-right {
  float: right;
}

.inputs input, select, textarea {
  margin: 10px 0 10px 0;
}

.inputs p {
  padding: 0;
  margin: 5px 0 5px 0;
}

.inputs #submit {
  width: 65px;
  height: 40px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
}

.popover-stuff {
  width: 240px;
  height: 200px;
  margin: 40px 0 0 26px;
}

h2.trigger {
  cursor: pointer;
  margin: 0 0 0 35px;
}

.popover .rectangle {
  height: 50px;
  background-color: #cd3238;
  border-radius: 15px;
}

.popover .arrow-up {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cd3238;
}

.popover .rectangle .popover-button {
  width: 52px;
  height: 22px;
  margin: 14px 0 0 94px;
  border-radius: 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: #e7e7e7;
}


