.list .item {
  display: inline-block;
  margin: 18px 20px
}

.item {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center
}

.item .kitty {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  padding-bottom: 6px;
  background: url(http://placekitten.com/g/175/175) no-repeat center
}

.item a {
  font-size: 14px;
  text-decoration: none;
  color: #666666
}

.item p {
  margin-top: 5px;
  color: #2f4f4f
}

.inputs {
  width: 250px;
  height: 800px;
  font-family: Trebuchet, sans-serif;
  font-size: 13px;
  margin: 50px 0 0 70px ;
}

.inputs .inputs-top {
  width: 243px;
  float: left;
  margin: 0;
}

.inputs .input-right {
  float: right;
}

.inputs input, select, textarea {
  margin: 10px 0 10px 0;
}

.inputs p {
  padding: 0;
  margin: 5px 0 5px 0;
}

.inputs #submit {
  width: 65px;
  height: 40px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
}

